@import url(reset.css);
@import url(variables.css);
@import url(framework.css);
@import url(components.css);
body{
   background: var(--bg);
   position: relative;
   display: flex;
   justify-content:center;
   align-items: center;
}
body::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top right, rgba(79, 123, 255, 0.696), transparent 40%), radial-gradient(circle at bottom left, rgba(124, 58, 237, 0.701), transparent 40%);
    z-index: 1;
}
div.container{
    max-width: 390px;
    min-height: 455px;
    padding: 15px;
    border-radius: 25px;
    background-color: #ffffff12;
    z-index: 10;
}
div.container a{
    color: #919191;
    font-size: 11px;
    margin-top: 18px;
    display: block;
    margin-right: 10px;
    transition: 300ms;
}
div.container a:hover{
    font-size: 12px;
}
div.container div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 10px;
}
div.container div.logo i{
    color: #fff;
    display: block;
    font-size: 22px;
}
div.container h4{
    font-size: 19px;
    text-align: center;
    color: #fff;
    font-weight: normal;
}
div.container h4 span{
    font-size: 22px;
    font-weight: bold;
}
div.container p{
    color: #919191;
    font-size: 12px;
    padding: 10px;
}
div.container form{
    height: 55%;
}
div.container form .field{
    padding: 7px;
    position: relative;
}
div.container form .field input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid #91919150;
    color: #919191;
    background-color: #acacac1c;
    border-radius: 10px;
    height: 40px;
    padding-right: 30px;
}
div.container form .field i{
    color: #919191;
    position: absolute;
    top: 20px;
    right: 13px;
}
div.container form .field svg{
    color: #919191;
    position: absolute;
    top: 15px;
    right: 11px;
}
div.container form .field input.submit{
    text-align: center;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    border: none;
    padding:0;
    color: #fff;
    cursor: pointer;
    transition: 300ms;
}
div.container form .field input.submit:hover{
    font-size: 14px;
}
div.container form .field i#submit{
    position: absolute;
    top:22px;
    right: 226px;
    color: #fff;
    font-size: 12px;
    transition: 300ms;
}
div.container form .field input.submit:hover ~ i#submit{
    font-size: 13px;
}
div.container form .field input.retry{
    height: 35px;
    border: 1px solid #91919150;
    background: transparent;
    color: #919191;
    font-size: 12px;
    padding: 0;
}
div.container form .field i#retry{
    position: absolute;
    top: 20px;
    right: 122px;
    font-size: 10px;
    cursor: pointer;
}
